* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  margin: 0;
}

/* BUTTON STYLING */
.button {
  background-color: #0e4f1f;
  color: white;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: white;
  color: #0e4f1f;
}

/* MAIN NAV */

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 120px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin-right: 1rem;
}

.main-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 3px 0 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 1px solid white;
}

.main-nav__item--cta a {
  color: white;
  background-color: #ff1b68;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}

/* MAIN HEADER */

.main-header {
  background-color: #2ddf5c;
  width: 100vw;
  padding: 0.5rem 1rem;
  position: fixed;
  z-index: 2;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  vertical-align: middle;
  display: inline-block;
  height: 3rem;
  margin: 1rem;
}

.main-header__brand img {
  height: 100%;
}

.main-header > div {
  display: inline-block;
}

.main-footer {
  background: black;
  padding: 2rem;
  margin-top: 3rem;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 1rem;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}
