* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  margin: 0;
}

/* MAIN NAV */

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 120px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin-right: 1rem;
}

.main-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 3px 0 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 1px solid white;
}

.main-nav__item--cta a {
  color: white;
  background-color: #ff1b68;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}
/* MAIN HEADER */

.main-header {
  background-color: #2ddf5c;
  width: 100vw;
  padding: 0.5rem 1rem;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  vertical-align: middle;
}

.main-header > div {
  display: inline-block;
}

#product-overview {
  background: url("/freedom.jpg");
  width: 100%;
  height: 31.25rem;

  padding: 0.625rem;
  margin: 0;
}

#product-overview h1 {
  color: white;
  font-family: anton;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

/* PLAN SECTION */

.plan {
  background-color: #d5ffdc;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan--highlighted {
  background-color: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.plan__annotation {
  background-color: #2ddf5c;
  color: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  border-radius: 8px;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}
.plan--highlighted .plan__title {
  color: white;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__features li {
  margin: 0.5rem 0;
}

.button {
  background-color: #0e4f1f;
  color: white;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: white;
  color: #0e4f1f;
}

/* KEY FEATURES */

#key-features {
  background-color: #ff1b68;
  margin-top: 5rem;
  padding: 1rem;
}

#key-features .section-title {
  color: white;
  margin: 2rem;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.key-feature__image {
  background: #ffcede;
  width: 8rem;
  height: 8rem;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 1.25rem;
}

.main-footer {
  background: black;
  padding: 2rem;
  margin-top: 3rem;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 1rem;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}
